body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url(backgroud.webp); /* Substitua 'background.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    border-radius: 10px;
}


button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}
